*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1150px;
    overflow: hidden;
}

.backgroundCom {
    background: url('/img/hotel-gallery-background.png') no-repeat center center/cover ;
    height: 100%;
}

/* Utility Classes */

.heading {
    text-align: center;
    margin-bottom: 90px;
} 

.heading-2 {
    text-align: center;
    margin-bottom: 35px;
}

.heading-3 {
    text-align: center;
    margin-bottom: 70px;
}

.m-heading {
     font-family: 'Gotham Pro Black' ;
     font-size: 60px;
     color: #6796ce;
}

.l-heading {
    font-family: 'Gotham Pro Black' ;
    font-size: 60px;
    color: #6796ce;
    padding-top: 119px;
}

.l-heading2 {
    font-family: 'Gotham Pro Black' ;
    font-size: 60px;
    color: #6796ce;
  
}

.s-heading {
    font-family: 'Gotham Pro Black' ;
    font-size: 60px;
}

.line {
    padding-top: 50px;
}


/* Navbar Section */
#navbar{
    display: flex;
    justify-content: center;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-right: 520px;
    background: rgba(255, 255, 255, 0.25)
}



#navbar .flex {
    display: flex;
}


#navbar ul {
    display: flex;
    list-style: none;
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 18px;
}

#navbar .logo {
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: center;
    margin-left: -532px;
}

#navbar .logo i {
    color: #fff
}

#navbar .logo h3 {
    color: #ffffff;
    font-family: 'Gotham Pro Black';
    font-size: 1.5rem;
}

#navbar .list {
    display: flex;
}

#navbar .ul-left {
    margin-right: 5rem;
    align-self: center;
    order: 1;
}

#navbar .ul-right {
    margin-left: 3rem;
    align-self: center;
    order: 3;
}

#navbar .ul-left .left   {
    padding-left: 3rem;
}

#navbar .ul-right .right {
    padding-right: 3rem;
}

#navbar ul li a {
    color: #fff
}


#navbar .btn {
    order: 4;
    display: inline-block;
    font-size: 18px;
    padding-top: 15px;
    height: 50px;
    align-self: center;
    text-align: center;
    justify-content: center;
    width: 165px;
    background-color: #fff;
    border: none;
    color: #6796ce;
    font-weight: 500;
    font-family: 'Gotham Pro Medium';
    border-radius: 30px;
}

/* Header Section */

header {
    background: url('../img/header/main\ background.png') no-repeat top center/cover  ;
    margin-top: -150px;
}

header h2 {
    padding-top: 260px;
    text-align: center; 
    font-family: 'Better Together script';
    font-size: 150px;
    font-weight: 100;
    color: #fff;
}

#About {
    display: flex;
    margin-top: 280px;
}

#About .about-alps  {
    flex: 2.25;
}

#About .about-alps h1 {
    margin-bottom: 50px;
}

#About .about-alps p {
    font-size: 18px;
    line-height: 35px;
    word-spacing: 0.2rem;
    font-family: 'Gotham Pro';
    color: #6796ce;
}

#About .about-info {
    font-family: 'Gotham Pro';
    color: #6796ce;
    font-size: 24px;
    margin-top: 1rem;
    flex:1;
    line-height: 35px;
}

#About .about-info p {
    padding-left: 34px; 
    padding-top: 6px;
}

#About .about-info p span {
    font-family: 'Gotham Pro';
    font-weight: bold; 
}
#About .about-info p span sup {
    font-size: 12px;
}


#About .about-info  .height {
    display: flex;
}

#About .about-info .height img {
    align-self: flex-start; 
    float: left;
}

#About .about-info  .space {
    display: flex;
    margin-top: 40px;
}


#Hotel {
    padding-top: 70px;
}

#Hotel .hotel-photos {
    display: flex;
    justify-content: space-evenly;
}

#Hotel .hotel-photos .first-photo {  
    height: 333px;
    width: 263px;
    border-radius: 18px;
    background: url('/img/hotel/hotel\ photo\ 1\ background.png') no-repeat center center/cover;
}

#Hotel .hotel-photos .first-photo .head-1 {
    background: url('/img/hotel/opacity\ icon\ 1.png' ) no-repeat center center/cover; 
    width: 263px;
    height: 75px;

}

#Hotel .hotel-photos .second-photo {
    background: url('/img/hotel/hotel\ photo\ 2\ background.png') no-repeat center center/cover;
    height: 333px;
    width: 263px;
    border-radius: 18px;
}

#Hotel .hotel-photos .second-photo .head-2 {
     


}

#Hotel .hotel-photos .third-photo {
    background: url('/img/hotel/hotel\ photo\ 3\ background.png') no-repeat;
    height: 333px;
    width: 263px;
    border-radius: 18px;
}

#Hotel .hotel-photos .fourth-photo {
    background: url('/img/hotel/hotel\ photo\ 4\ background.png') no-repeat;
    height: 333px;
    width: 263px;
    border-radius: 18px;
}


#Hotel .more-info {
    display: flex;
}

#Hotel .more-info .btn-2{
    margin-top: 50px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 30px;
    background: #6796ce;
    text-decoration: none;
    color: #fff;
    list-style: none;
    width: 266px;
    height: 60px;
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 300px;
}

#Hotel .more-info .btn-2 .btn-arrow {
    float: right;
    padding-right: 25px;
}

#Hotel .more-info .btn-2 span {
    float: left;
}

#Hotel .more-info h4{
    font-family: 'Gotham Pro';
    font-size: 18px;
    margin-top: 70px;
    color: #6796ce;
    margin-left: 55px;
}

#Gallery{
    margin-top: 145px;
}

#Gallery  .travel-photos {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#Gallery .btn-3 {
    display: inline-block;
    padding-top: 20px;
    text-align: center;
    background: #6796ce;
    text-decoration: none;
    color: #fff;
    list-style: none;
    width: 266px;
    height: 60px;
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 870px;
    margin-top: -60px;
}

#Reviews {
    padding-bottom: 85px;
}

#Reviews .Reviews-all {
    display: flex;
    justify-content: space-between;
}

#Reviews .Reviews-all .review-1 {
    background: url('/img/reviews/icon\ 1.png') no-repeat ;
    width: 390px;
    height: 315px;
}

#Reviews .Reviews-all .review-2 {
    background: url('/img/reviews/icon\ 2.png') no-repeat ;
    width: 390px;
    height: 315px;
}

#Reviews .Reviews-all .review-3 {
    background: url('/img/reviews/icon\ 3.png') no-repeat ;
    width: 390px;
    height: 315px;
}

#Contact {
    background: #4670c2;
    color: #fff;
    padding-top: 50px;
}
#Contact .contact-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px; 
}

#Contact .contact-form .form-item {
    height: 45px;
    width: 260px;
    color: #333;
    border-radius: 30px;
    border: none;
}

#Contact .contact-form .form-item::placeholder {
    color: #333;
    font-size: 18px;
    font-family: 'Gotham Pro';
    padding-left: 30px;
} 


#Contact .contact-form .form-btn {
    height: 45px;
    width: 260px;
    display: inline-block;
    padding-top: 13px;
    text-align: center;
    background: #355695;
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-family: 'Gotham Pro';
    font-size: 18px;
    border-radius: 30px;
}
